<head>
    <title>CSS 3D Transform</title>
    <style>
        div {
            width: 300px;
            height: 100px;
            background-color: lightpink;
            border: 1px solid black;
        }

        div#myDiv {
            -webkit-transform: rotateY(150deg);
            /* Safari */
            transform: rotateY(150deg);
            /* Standard syntax */
        }
    </style>
</head>

<body>
    <h1>CSS 3D Transform</h1>
    <div>
        Welcome to JavaTpoint!.
    </div>
    <div id="myDiv">
        Welcome to JavaTpoint!.
    </div>
    <p><b>Note:</b> Internet Explorer 9 (and earlier versions) does not support the rotateY() method.</p>
</body>

</html>